__pycache__/
*.py[cod]
*$py.class
*.so
.Python
instance/
.venv/
venv/
*.egg-info/
.eggs/
dist/
!ctf_chall/community/**/dist/
!ctf_chall/community/**/dist/**
build/
.pytest_cache/
.run/
logs/
*.db
!ctf_chall/**/*.db
*.sqlite3

# Test artifacts / screenshots
*.png
bytesec.db.txt
